<html>
    <head>
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <!-- Bootstrap icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
        <!-- Custom styles -->
        <link rel="stylesheet" href="/client/static/assets/styles.css">

        <!-- Scripts -->
        <!-- Load bezier.js for curved edges-->
        <script src="/client/static/assets/bezier.js"></script>
        <script src="/client/static/assets/index_by.js"></script>
        <!-- Load the Vue library -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- Load the BokehJS library --> 
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.0.min.js"></script>

        <!-- Load d3-zoom and subdependencies -->
        <script src="https://d3js.org/d3-color.v2.min.js"></script>
        <script src="https://d3js.org/d3-dispatch.v2.min.js"></script>
        <script src="https://d3js.org/d3-ease.v2.min.js"></script>
        <script src="https://d3js.org/d3-interpolate.v2.min.js"></script>
        <script src="https://d3js.org/d3-selection.v2.min.js"></script>
        <script src="https://d3js.org/d3-timer.v2.min.js"></script>
        <script src="https://d3js.org/d3-transition.v2.min.js"></script>
        <script src="https://d3js.org/d3-drag.v2.min.js"></script>
        <script src="https://d3js.org/d3-zoom.v2.min.js"></script>

        <!-- Load d3-force and subdependencies -->
        <script src="https://d3js.org/d3-dispatch.v2.min.js"></script>
        <script src="https://d3js.org/d3-quadtree.v2.min.js"></script>
        <script src="https://d3js.org/d3-timer.v2.min.js"></script>
        <script src="https://d3js.org/d3-force.v2.min.js"></script>

        <!-- Load d3-scale and subdependencies -->
        <script src="https://d3js.org/d3-array.v2.min.js"></script>
        <script src="https://d3js.org/d3-color.v2.min.js"></script>
        <script src="https://d3js.org/d3-format.v2.min.js"></script>
        <script src="https://d3js.org/d3-interpolate.v2.min.js"></script>
        <script src="https://d3js.org/d3-time.v2.min.js"></script>
        <script src="https://d3js.org/d3-time-format.v3.min.js"></script>
        <script src="https://d3js.org/d3-scale.v3.min.js"></script>

        <!-- Load the D3 library -->
        <script src="https://d3js.org/d3.v6.min.js"></script>
        <title>RedditVis</title>
    </head>
    <body>
        {% include "navbar.html" %}
        {% include "vue.html" %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>
</html>
