
{% block vue %}
<div id="vm" class="container-fluid">
  <app-container></app-container>
</div>

<!-- Load the child components here (Put the child components before the root component ) -->
<script src="{{ url_for('client.static', filename='graph_network.js') }}"></script>
<script src="{{ url_for('client.static', filename='app_container.js') }}"></script>
<script src="{{ url_for('client.static', filename='properties_plot.js') }}"></script>
<script src="{{ url_for('client.static', filename='plot_source_target.js') }}"></script>
<script src="{{ url_for('client.static', filename='sentiment_box.js') }}"></script>
<script src="{{ url_for('client.static', filename='select_subreddit.js') }}"></script>
<script src="{{ url_for('client.static', filename='properties_radar.js') }}"></script>
<!-- Root Vue component -->
<script src="{{ url_for('client.static', filename='index.js') }}"></script>
{% endblock %}
