body {
    font-size: .7rem;
    /* background-color: #eeeeee; */
    overflow-x: hidden;
}

.btn {
    font-size: .7rem;
}

.form-control {
    font-size: .7rem;
}

.details-container {
    margin-bottom: .2rem;
    padding-bottom: 0rem;
}

.details-container .card-header {
    padding: 0.2rem .3rem .3rem .8rem;
}

.details-container .card-body {
    align-self: center;
}